body{
    background-color: rgb(66, 119, 187);
}
.container{
    width: 50%;
    height: 620px;
    background-color: #ffffff;
    display: flexbox;
    border-radius: 5%;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
